{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'quiz/css/contact.css' %}" />
{% endblock %}

{% block content %}

<main>
 <div class="login-container">
            <div class="logo">

                <img class="img" src="{% static 'quiz/images/image1.png' %}" alt="">
                <h2>Կապ Մեզ Հետ</h2>
                <img class="text" src="{% static 'quiz/images/Scratchlogo.png' %}" alt="s">

            </div>
        <form method="POST" action="{% url 'contact' %}">
            {% csrf_token %}

            <input type="text" name="name" placeholder="Անուն" required>
            <input type="email" name="email" placeholder="Էլ․ հասցե" required>
            <textarea name="message"
              placeholder="Սպասում եմ Ձեր նամակին"></textarea>

            <button type="submit" class="btn primary">{{contact.contact_btn}}</button>
          </form>
      </div>
    </div></div>
  </main>

{% endblock %}


