{% extends "base.html" %} 
{% load static %}
 {% block extra_css %}
<link rel="stylesheet" href="{% static 'quiz/css/forgot-password.css' %}" />
{% endblock %} 

{% block content %}
<main>
  <div class="confirm-container">
    <div class="logo">
      <img class="img" src="{% static 'quiz/images/image1.png' %}" alt="" />
      <h2>Մոռացել եք գաղտնաբառը՞</h2>
      <img
        class="text"
        src="{% static 'quiz/images/Scratchlogo.png' %}"
        alt="s"
      />
    </div>
    <form id="confirm-form">
      <input type="email" id="email" placeholder="Էլ․հասցե" required />
      <input
        type="password"
        id="password"
        placeholder="Նոր գաղտնաբառ"
        required
      />
      <input
        type="password"
        id="confirm-password"
        placeholder="Կրկնել գաղտնաբառը"
        required
      />

      <button type="submit">Փոխել գաղտնաբառը</button>

      <p id="contact-message"></p>
    </form>
  </div>
</main>
{% endblock %} {% block scripts %}
<script>
  const form = document.getElementById("login-form");
  const email = document.getElementById("email");
  const password = document.getElementById("password");
  const confirmPassword = document.getElementById("confirm-password");
  const message = document.getElementById("contact-message");

  form.addEventListener("submit", function (e) {
    e.preventDefault();

    // empty fields check
    if (
      email.value === "" ||
      password.value === "" ||
      confirmPassword.value === ""
    ) {
      message.style.color = "red";
      message.textContent = "Խնդրում ենք լրացնել բոլոր դաշտերը";
      return;
    }

    // password length
    if (password.value.length < 6) {
      message.style.color = "red";
      message.textContent = "Գաղտնաբառը պետք է լինի առնվազն 6 նիշ";
      return;
    }

    // password match
    if (password.value !== confirmPassword.value) {
      message.style.color = "red";
      message.textContent = "Գաղտնաբառերը չեն համընկնում";
      return;
    }

    // success
    message.style.color = "green";
    message.textContent = "Գաղտնաբառը հաջողությամբ փոխվեց ✅";

    // fake redirect
    setTimeout(() => {
      window.location.href = "login.html";
    }, 1500);
  });
</script>
{% endblock %}
