{% extends "base.html" %}
{% load static %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'quiz/css/login.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="login-container">
             <div class="logo">

       <img class="img" src="{% static 'quiz/images/image1.png' %}" alt="">
         <h2>Մուտք Ձեր Էջ</h2> 
         <img class="text" src="{% static 'quiz/images/Scratchlogo.png' %}" alt="s">
    
    </div>
      

        <form id="login-form" method="POST">
    {% csrf_token %}
    <input type="email" id="email" name="email" placeholder="Էլ․հասցե" required>
    <input type="password" id="password" name="password" placeholder="Գաղտնաբառ" required>

    <button type="submit">Մուտք</button>

    <div class="forgot-password">
        <a href="{% url 'password_reset' %}">Մոռացել եք գաղտնաբառը՞</a>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
</form>
    </div>
</main>
{% endblock  %}


