{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'quiz/css/forgot-password.css' %}" />
{% endblock %}

{% block content %}
<main>
  <div class="confirm-container">
    <div class="logo">
      <img class="img" src="{% static 'quiz/images/image1.png' %}" alt="" />
      <h2>Սահմանեք նոր գաղտնաբառ</h2>
      <img class="text" src="{% static 'quiz/images/Scratchlogo.png' %}" alt="logo" />
    </div>

    <form method="POST">
    {% csrf_token %}

    {{ form.new_password1.label_tag }}
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}

    <button type="submit">
        Ապահովել նոր գաղտնաբառը
    </button>
</form>

  </div>
</main>
{% endblock %}
