{% extends "base.html" %}
{% load static %} 
 
 {% block extra_css %}
<link rel="stylesheet" href="{% static 'quiz/css/register.css' %}" />
{% endblock %}




{% block content %}
<main>
  <div class="register-container">
    <h2>Գրանցում</h2>
<form method="POST">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_username" style="display:block; text-align:left;">Օգտվողի անուն</label>
    {{ form.username }}
    {{ form.username.errors }}
  </div>

  <div class="form-group">
    <label for="id_email" style="display:block; text-align:left;">Էլ․ հասցե</label>
    {{ form.email }}
    {{ form.email.errors }}
  </div>

  <div class="form-group" >
    <label for="id_age" style="display:block; text-align:left;">Տարիք</label>
    {{ form.age }}
    {{ form.age.errors }}
  </div>

  <div class="form-group">
    <label for="id_school" style="display:block; text-align:left;">Դպրոց / Դասարան</label>
    {{ form.school }}
    {{ form.school.errors }}
  </div>

  <div class="form-group">
    <label for="id_password1" style="display:block; text-align:left;">Գաղտնաբառ</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
  </div>

  <div class="form-group">
    <label for="id_password2" style="display:block; text-align:left;">Կրկնել գաղտնաբառը</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
  </div>

  <button type="submit">Գրանցվել</button>
</form>


    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  </div>
</main>
{% endblock %}


