@import "./index.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.login-container .logo{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

.login-container .img{
  width: 20%;
}
.login-container .text{
  width: 20%;
}

/* Login form ոճեր */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 160px;
  box-sizing: border-box;
}
.login-container {
  padding: 20px;
  margin: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.login-container h2 {
  color: #4d76b3;
  margin-bottom: 15px;
}
.login-container input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #00bf00;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  animation: bounce 3s infinite;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}


.login-container button:hover {
  background-color: #009900;
}


.forgot-password {
  margin-top: 12px;
  text-align: center;
}

.forgot-password a {
  font-size: 14px;
  text-decoration: none;
  color: #4d76b3;
}

.forgot-password a:hover {
  text-decoration: underline;
}

#contact-message {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}


@media screen and (max-width: 800px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    gap: 5px;
  }

  main{
     padding: 160px 40px;
  }

}

@media screen and (max-width: 620px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    gap: 3px;
  }
nav ul li a {
  font-size: 12px;
}
  main{
     padding: 160px 0px;
  }


}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;

  }
nav {
  width: 100%;
}
  .drop_content {
    width: 100%;
  }
nav ul li a {
  font-size: 16px;
    padding: 4px;
  display: block;
  width: 100%;
  border-top: .5px solid  #345c98a6;

}
.drop_content li a {
  padding: 4px;
}

  nav ul li {
    text-align: center;
  }
    main{
     padding-top: 240px;
  }
  .login-container {
  margin:50px 20px;
}
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: 1.3em;
  }

  nav ul li a {
    font-size: 14px;
  }

}

@media screen and (max-width: 300px) {
  .logo {
    font-size: 1.1em;
  }
}